/* 样式用于遮罩层 */
/* 加载界面 */
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 确保遮罩层在其他元素之上 */
    display: none; /* 默认隐藏 */
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

#loading-text {
    font-size: 24px;
    font-weight: bold;
    display: inline-block; /* 让每个字母独立占据空间 */
    animation: wave 1s infinite alternate; /* 1s 持续时间，交替反向播放，无限循环 */
}

a {
    text-decoration: none;
    color: rgb(88, 97, 102);
}

a:hover {
    text-decoration: none;
    color: rgb(58, 197, 197);
}


.app_show{
    height: 200px;
    background-image: url('../images/app_show_2.png'); /* 替换为您自己的图片路径 */
    background-size: cover; /* 图片铺满整个容器 */
    background-position: center; /* 图片居中 */
    background-repeat: no-repeat; /* 不重复平铺图片 */
}
