<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-icons/1.11.0/font/bootstrap-icons.min.css" rel="stylesheet">
  <link {% block link %}{% endblock %}>
  {% block head %}{% endblock %}
  <title>{% block title %}{% endblock %}</title>
  <style>
    a {
  text-decoration: none;
  color: rgb(88, 97, 102);
    }

    a:hover {
      text-decoration: none;
      color: rgb(58, 197, 197);
    }
  </style>
</head>

<body>
  <header class="p-3 bg-white border-bottom border-black">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/"><img src="{{ url_for('static', filename='images/LOGO.png') }}" alt="LOGO" width="80px"
            height="100%"></a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" style="margin-left: 2%;">
          <li><a href="{{ url_for('home.index') }}" class="nav-link px-2 text-body-emphasis ">Home</a></li>
          <li><a href="{{ url_for('course.courses') }}" class="nav-link px-2 text-body-emphasis">Course</a></li>
          <li><a href="{{ url_for('LearningForum.forum') }}" class="nav-link px-2 text-body-emphasis">Learning Forum</a></li>
          <li><a href="{{ url_for('Publicquestion.question') }}" class="nav-link px-2 text-body-emphasis">Release Question</a></li>
        </ul>
        {% if 'loggedin' not in session %}
        <div class="text-end">
          <a class="btn btn-outline-secondary me-2" href="{{ url_for('login.rendering_login') }}" role="button">Login</a>
          <a class="btn btn-warning" href="{{ url_for('register.user_register') }}" role="button">Sign-up</a>
        </div>
        {% else %}
          {% if session['permission_name'] == 'admin' %}
          <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <!-- change new path -->
              <img src="{{ session['admin_img'] }}" alt="{{ session['admin_name'] }}" style="border: 1px solid white;" width="50px">
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ url_for('Manage_users.manage_users') }}">Manage_users</a></li>
              <li><a class="dropdown-item" href="{{ url_for('Manages_course.manages_course') }}">Manage_course</a></li>
              <li><a class="dropdown-item" href="#">Manage_community</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/admin_panel">Welcome {{ session['admin_name'] }}!</a></li>
            </ul>
          </div>
          <div style="margin-left: 1%;">
            <a class="btn btn-outline-secondary" href="{{ url_for('logout.quit') }}" role="button">Logout</a>
          </div>
          {% elif session['permission_name'] == 'service' %}
          <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <!-- change new path -->
              <img src="{{ session['service_img'] }}" alt="{{ session['service'] }}" style="border: 1px solid white;" width="50px">
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ url_for('Manage_users.manage_users') }}">Manage_users</a></li>
              <li><a class="dropdown-item" href="{{ url_for('Manages_course.manages_course') }}">Manage_course</a></li>
              <li><a class="dropdown-item" href="#">Manage_community</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/service_panel">Welcome {{ session['service_name'] }}!</a></li>
            </ul>
          </div>
          <div style="margin-left: 1%;">
            <a class="btn btn-outline-secondary" href="{{ url_for('logout.quit') }}" role="button">Logout</a>
          </div>
          {% else %}
          <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <!-- change new path -->
              <img src="{{ session['user_img'] }}" alt="{{ session['user'] }}" style="border: 1px solid white;" width="50px">
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ url_for('Course_order.course_order') }}">My_course</a></li>
              <li><a class="dropdown-item" href="{{ url_for('LearningForum.manage_forum') }}">My_community</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/user_panel">Welcome {{ session['user_name'] }}!</a></li>
            </ul>
          </div>
          <div style="margin-left: 1%;">
            <a class="btn btn-outline-secondary" href="{{ url_for('logout.quit') }}" role="button">Logout</a>
          </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </header>
  <div>
    {% for category, message in get_flashed_messages(with_categories=true) %}
      <div id="flash-message" class="flash alert alert-{{category}} text-center alert-dismissible fade show m-auto">
        {{ message }}
      </div>
    {% endfor %}
    {% block body %}{% endblock %}

    <button class="back-to-top" onclick="scrollToTop()">↑</button>
  </div>

  <footer>
    <div style="margin-top: 5%;">
      <div style="background-color: rgb(41, 41, 51);">
        <div class="container text-center">
          <div class="row align-items-start">
            <div class="line" style="margin-top: 10%; margin-bottom: 4%;"></div>
            <div class="col text-secondary">
              <span class="text-light fw-bold">About PTE</span>

              <p style="margin-top: 4%;"><a href="">Exam introduction</a></p>

              <p><a href="">accredited school</a></p>

              <p><a href="">Understand the question types</a></p>

              <p><a href="">introductory course</a></p>

              <p><a href="">Compare IELTS TOEFL</a></p>
            </div>

            <div class="col text-secondary">
              <span class="text-light fw-bold">PTE registration</span>

              <p style="margin-top: 4%;"><a href="">PTE mock test website</a></p>

              <p><a href="">Official application website</a></p>

              <p><a href="">PTE exam venue location</a></p>

              <p><a href="">Official contact information</a></p>

              <p><a href="">Candidate Handbook</a></p>
            </div>

            <div class="col text-secondary">
              <span class="text-light fw-bold">PTE courses</span>

              <p style="margin-top: 4%;"><a href="">Ape world full class</a></p>

              <p><a href="">One-to-one lessons</a></p>

              <p><a href="">WHV special courses</a></p>
            </div>

            <div class="col text-secondary">
              <span class="text-light fw-bold">APP download</span>

              <p style="margin-top: 4%;"><a href="">IOS version</a></p>

              <p><a href="">Android version</a></p>

              <p><a href="">PC version</a></p>
            </div>




            <div class="col text-secondary">
              <span class="text-light fw-bold">contact us</span>

              <p style="margin-top: 4%;"><a href="">WeChat: Please scan the QR code to add</a></p>

              <p><a href="">Tel: +86-028-83229656</a></p>

              <p><a href="">Email: 2484601608@qq.com</a></p>
            </div>

            
            <div class="line" style="margin-top: 4%; margin-bottom: 8%;"></div>
            <p class="text-light fw-bold">&copy; 2024-4-4 <a href="https://github.com/Ax-NET-02" target="_blank">Ax-NET</a> All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.1/js/bootstrap.min.js"></script>
  <script>
    // 返回顶部函数
    function scrollToTop() {
      window.scrollTo({
        top: 0,
        behavior: 'smooth'
      });
    }
    
    // 检测滚动，显示或隐藏返回顶部按钮
    window.addEventListener('scroll', function() {
      var backToTopButton = document.querySelector('.back-to-top');
      if (window.pageYOffset > 100) {
        backToTopButton.style.display = 'block';
      } else {
        backToTopButton.style.display = 'none';
      }
    });
    </script>

    <script>
      // 获取闪现消息元素
      var flashMessage = document.getElementById('flash-message');
      // 在3秒后隐藏消息
      setTimeout(function() {
        flashMessage.style.display = 'none';
      }, 3000);
    </script>

    <script>
      function myFunction() {
          // Declare variables
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("myTable");
          tr = table.getElementsByTagName("tr");

          // Loop through all table rows, and hide those who don't match the search query
          for (i = 0; i < tr.length; i++) {
              td1 = tr[i].getElementsByTagName("td")[1];
              td2 = tr[i].getElementsByTagName("td")[3];
              td4 = tr[i].getElementsByTagName("td")[4];

              if (td1 || td2 || td4) {
                  txtValue1 = td1.textContent || td1.innerText;
                  txtValue2 = td2.textContent || td2.innerText;
                  txtValue4 = td4.textContent || td4.innerText;

                  if (txtValue1.toUpperCase().indexOf(filter) > -1 ||
                      txtValue2.toUpperCase().indexOf(filter) > -1 ||
                      txtValue4.toUpperCase().indexOf(filter) > -1
                  ) {
                      tr[i].style.display = "";
                  } else {
                      tr[i].style.display = "none";
                  }
              }
          }
      }
    </script>

    <script>
      function ClearFields() {
          document.getElementById("myInput").value = "";
          var table = document.getElementById("myTable");
          var tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
              tr[i].style.display = "";
          }
      }
    </script>
</body>

</html>