{% extends "base.html" %}

{% block title %}Course{% endblock %}

{% block link %}rel="shortcut icon" href="{{ url_for('static', filename='images/icon/document.png') }}"
type="image/x-icon"{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/course.css') }}">
{% endblock %}

{% block body %}
<div style="margin-top: 4%;">
    <div class="container">
        <div class="row">
            <div class="col">
                <span class="fw-bold fs-4"> Apeworld paid improvement course </span> <span style="margin-left: 2%;"><a href="">See More</a><i class="bi bi-chevron-right"></i></span>
            </div>
        </div>
        <div class="container text-center" style="margin-top: 2%;">
            <div class="row">
              {% for courses_data in course_data %}
                <div class="col">
                  <div class="card" style="width: 25rem;">
                      <img src="{{ courses_data.course_image }}" alt="" height="220px">
                      <div class="card-body">
                          <div class="container text-center">
                              <div class="row align-items-start">
                                <div class="col">
                                  <span class="fw-bold fs-5"><a href="/course_detailed?course_id={{ courses_data.course_id }}">{{ courses_data.course_title }}</a></span>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
              {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}