{% extends "base.html" %}

{% block title %}Edit Course{% endblock %}

{% block link %}rel="shortcut icon" href="{{ url_for('static', filename='images/icon/document.png') }}"
type="image/x-icon"{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/course.css') }}">
{% endblock %}

{% block body %}
<main>
    <div class="container d-flex justify-content-end mt-5"
        style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
        <h1>Edit Course</h1>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="personal-card text-left">
                    <div class="modal-body mt-2">
                        <form action="{{ url_for('Manages_course.updata_course') }}" method="post">
                            <div class="mb-3">
                                <label for="{{ course_data[0].course_id }}" class="form-label" style="color:grey">Edit
                                    ID:</label>
                                <input type="text" class="form-control mb-2" id="{{ course_data[0].course_id }}" disabled
                                    value="{{ course_data[0].course_id }}">
                                <input hidden type="number" name="course_id" class="form-control"
                                    value="{{ course_data[0].course_id }}" readonly>

                                <label for="{{ course_data[0].course_title }}" class="form-label" style="color:grey">Edit
                                    course_title:</label>
                                <input type="text" class="form-control" id="{{ course_data[0].course_title }}"
                                    value="{{ course_data[0].course_title }}" name="course_title">

                                <label for="{{ course_data[0].course_description }}" class="form-label" style="color:grey">Edit Course Duration:</label>
                                <textarea class="form-control" id="{{ course_data[0].course_description }}" rows="5" maxlength="500" required name="course_description">{{ course_data[0].course_description }}</textarea>

                                <label for="course_price" class="form-label" style="color:grey">Course Price</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="course_price" required name="course_price" value="{{ course_data[0].course_price }}"><span
                                        class="input-group-text">$</span>
                                </div>
                                <div class="input-group" style="margin-top: 1%;">
                                    <input type="number" class="form-control" id="RuntimeHours"
                                        name="RuntimeHours" placeholder="Hours" min="0" required value="{{ course_data[0].course_duration // 60 }}">
                                    <span class="input-group-text">Hours</span>

                                    <input type="number" class="form-control" id="RuntimeMinutes"
                                        name="RuntimeMinutes" placeholder="Minutes" min="0" required value="{{ course_data[0].course_duration % 60 }}">
                                    <span class="input-group-text">Minutes</span>
                                </div>

                                <label for="{{ course_data[0].course_rating }}" class="form-label" style="color:grey">Edit
                                    course_rating:</label>
                                <input type="text" class="form-control" id="{{ course_data[0].course_rating }}"
                                    value="{{ course_data[0].course_rating }}" name="course_rating">

                                <label for="{{ course_data[0].course_image }}" class="form-label" style="color:grey">Edit
                                    course_image:</label>
                                <input type="text" class="form-control" id="{{ course_data[0].course_image }}"
                                    value="{{ course_data[0].course_image }}" name="course_image">

                                <label for="{{ course_data[0].course_publish_date }}" class="form-label" style="color:grey">Course Publish Date</label>
                                <input type="date" class="form-control mb-2" id="{{ course_data[0].course_publish_date }}" required name="course_publish_date" value="{{ course_data[0].course_publish_date }}">
                        <div class="modal-footer" style="margin-top: 2%;">
                            <a role="button" class="btn btn-success mx-2"
                                href="{{ url_for('Manages_course.manages_course') }}">Back</a>
                            <button type="submit" class="btn btn-dark">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>
{% endblock %}