{% extends "base.html" %}

{% block title %}Forum_detailed{% endblock %}

{% block link %}rel="shortcut icon" href="{{ url_for('static', filename='images/icon/document.png') }}"
type="image/x-icon"{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/detail.css') }}">
{% endblock %}

{% block body %}
    
<div class="row" style="margin-top: 101px;">
    <div class="col"></div>
    <div class="col-10" style="background-color: #fff;padding: 20px;">
        <h3 class="page-title">{{ forum_detailed[0].title }}</h3>
        <p class="question-info">
            <span>{{ forum_detailed[0].publisher_name }} -</span>
            <span>{{ forum_detailed[0].publish_date.strftime('%Y-%m-%d') }}</span>
        </p>
        <hr>
        <p class="question-content text-center">{{ forum_detailed[0].content }}</p>
        <hr>
        <h5 class="comment-group-title">Comment ({{ quantity_data[0].quantity }})：</h5>
        <form action="{{ url_for('LearningForum.comment_data') }}" method="post">
            <div class="form-group">
                <input type="text" placeholder="Please fill in the comments" name="comment_content" class="form-control">
                <input type="text" style="display: none;" name="question_id" value="{{ forum_detailed[0].question_id }}">
            </div>
            <div class="form-group" style="text-align: right; margin-top: 2%;">
                <a href="{{ url_for('LearningForum.forum') }}" role="button" class="btn btn-warning">Back</a>
                <button class="btn btn-primary">Comment</button>
            </div>
        </form>
        <hr>
        <ul class="comment-group">
            {% for comment_datas in comment_data %}
            <li>
                <div class="user-info">
                    <img class="avatar" src="{{ comment_datas.user_img }}" alt="头像">
                    <span class="username">{{ comment_datas.commenter_name }}</span>
                    <span class="create-time">{{ comment_datas.publish_date.strftime('%Y-%m-%d') }}</span>
                </div>
                <p class="comment-content">{{ comment_datas.comment_content }}</p>
            </li>  
            {% endfor %}
        </ul>
    </div>
    <div class="col"></div>
</div>
{% endblock %}
