{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block link %}rel="shortcut icon" href="{{ url_for('static', filename='images/icon/document.png') }}" type="image/x-icon"{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block body %}
      <main>
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
               <!--image change new path -->
              <img src="{{ url_for('static', filename='images/home1.png') }}" class="d-block w-100" alt="Movie Image1" style="width: 1200px; height: 100%;">
            </div>
            <div class="carousel-item">
               <!--image change new path -->
              <img src="{{ url_for('static', filename='images/home2.png') }}" class="d-block w-100" alt="Movie Image2" style="width: 1200px; height: 100%;">
            </div>
            <div class="carousel-item">
               <!--image change new path -->
              <img src="{{ url_for('static', filename='images/home3.png') }}" class="d-block w-100" alt="Movie Image3" style="width: 1200px; height: 100%;">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <div style="background-color: rgb(250, 250, 250); padding-bottom: 5%;">
          <div class="container" style="margin-top: 4%;">
            <div class="row">
              <div class="col">
                <div style="margin-top: 2%;">
                  <span class="fw-bold fs-3"> PTE AI Practice platform </span>
                </div>
              </div>
            </div>
          </div>
  
          <div class="border border-bottom-0 container" style="margin-top: 2%; background-color: white;">
            <div class="container text-center" style="margin-top: 1%;">
              <div class="row">
                <div class="col border-end border-bottom" style="background-color: white;">
                  <img src="{{ url_for('static', filename='images/ico/file.png') }}" alt="file" width="100px" height="100px">
                  <div>
                    <span class="fw-bold fs-5">
                      Efficient PTE preparation
                    </span>
  
                    <p style="margin-top: 3%;" class="text-secondary">
                      Accurately locate learning problems
                    </p>
  
                    <p class="text-secondary">
                      Make exam preparation more effective
                    </p>
                  </div>
                </div>
    
                <div class="col border-end border-bottom" style="background-color: white;">
                  <img src="{{ url_for('static', filename='images/ico/microphone.png') }}" alt="microphone" width="80px" height="80px">
                  
                  <div style="margin-top: 4%;">
                    <span class="fw-bold fs-5">
                      Speaking intelligence score
                    </span>
  
                    <p style="margin-top: 3%;" class="text-secondary">
                      Mock exam scoring rules
                    </p>
  
                    <p class="text-secondary">
                      Correct pronunciation and fluency
                    </p>
                  </div>
                </div>
    
                <div class="col border-bottom" style="background-color: white;">
                  <img src="{{ url_for('static', filename='images/ico/edit.png') }}" alt="edit" width="80px" height="80px">
  
                  <div style="margin-top: 4%;">
                    <span class="fw-bold fs-5">
                      Smart scoring for writing
                    </span>
  
                    <p style="margin-top: 3%;" class="text-secondary">
                      Mock exam content scoring
                    </p>
  
                    <p class="text-secondary">
                      Smart grammar and spelling correction
                    </p>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="container text-center" style="margin-top: 1%;">
              <div class="row">
                <div class="col border-end border-bottom" style="background-color: white;">
                  <img src="{{ url_for('static', filename='images/ico/lamp.png') }}" alt="lamp" width="80px" height="80px">
  
                  <div style="margin-top: 4%;">
                    <span class="fw-bold fs-5">
                      Answers & Analysis
                    </span>
  
                    <p style="margin-top: 3%;" class="text-secondary">
                      Speaking and writing subjective questions
                    </p>
  
                    <p class="text-secondary">
                      Analysis of answer ideas
                    </p>
                  </div>
                </div>
    
                <div class="col border-end border-bottom" style="background-color: white;">
                  <img src="{{ url_for('static', filename='images/ico/discuss.png') }}" alt="discuss" width="80px" height="80px">
  
                  <div style="margin-top: 4%;">
                    <span class="fw-bold fs-5">
                      interactive discussion
                    </span>
  
                    <p style="margin-top: 3%;" class="text-secondary">
                      Questions and consultations in the discussion area
                    </p>
  
                    <p class="text-secondary">
                      Q&A with classmates and teachers
                    </p>
                  </div>
                </div>
    
                <div class="col border-bottom" style="background-color: white;">
                  <img src="{{ url_for('static', filename='images/ico/Classification.png') }}" alt="Classification" width="80px" height="80px">
  
                  <div style="margin-top: 4%;">
                    <span class="fw-bold fs-5">
                      Topic classification
                    </span>
  
                    <p style="margin-top: 3%;" class="text-secondary">
                      Questions are classified according to topic
                    </p>
  
                    <p class="text-secondary">
                      Targeted exercises
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col">
            <div class="col app_show">
              <div class="container text-center">
                <div class="row justify-content-start">
                  <div class="row justify-content-center">
                    <div class="col-4" style="margin-top: 1%; padding-left: 15%;">
                      <span class="text-light fw-bold">APP download</span>

                      <p class="text-light fw-bold">AI intelligent scoring</p>
  
                      <p class="text-light fw-bold">Simulate the Pearson scoring system</p>
  
                      <button type="button" class="btn btn-success"><a href="" class="text-light">Scan code to download></a></button>
                    </div>
                    <div class="col-4" style="margin-top: 4%; padding-right: 4%;">
                      <img src="{{ url_for('static', filename='images/app_qrcode_download.png') }}" alt="app_qrcode_download" width="100px" height="100px">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>

        <div style="background-color: rgb(250, 250, 250);">
          <div class="container" style="margin-top: 4%;">
            <div class="row">
              <div class="col">
                <div style="margin-top: 2%;">
                  <span class="fw-bold fs-3"> Learn about PTE </span>
                </div>
              </div>
            </div>
          </div>
  
          <div class="border border-bottom-0 container" style="margin-top: 2%; background-color: white;">
            <div class="container text-center" style="margin-top: 1%;">
              <div class="row">
                <div class="col border-end border-bottom" style="background-color: white;">
                  <img src="{{ url_for('static', filename='images/ico/guide_ptex.png') }}" alt="file" width="80px" height="100px">
                  <div style="margin-top: 4%;">
                    <span class="fw-bold fs-5">
                      PTE accreditation agency
                    </span>
  
                    <p style="margin-top: 3%;" class="text-secondary">
                      4,000 universities in the United States, 100% of universities in Australia, 2,000 universities in the United Kingdom, and 10,000 universities in other regions accept PTE.
                    </p>
                  </div>
                </div>
    
                <div class="col border-bottom" style="background-color: white;">
                  <img src="{{ url_for('static', filename='images/ico/guite_exam.png') }}" alt="microphone" width="80px" height="100px">
                  
                  <div style="margin-top: 4%;">
                    <span class="fw-bold fs-5">
                      How to apply for PTE
                    </span>
  
                    <p style="margin-top: 3%;" class="text-secondary">
                      Registration for the exam is completed online, and you can apply with proof of identity. There are 54 test centers in Australia and 3 test centers in China.
                    </p>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="container text-center" style="margin-top: 1%;">
              <div class="row">
                <div class="col border-bottom" style="background-color: white;">
                  <img src="{{ url_for('static', filename='images/ico/ielts_pk.png') }}" alt="lamp" width="80px" height="100px">
  
                  <div style="margin-top: 4%;">
                    <span class="fw-bold fs-5">
                      PTE VS IELTS TOEFL
                    </span>
  
                    <p style="margin-top: 3%;" class="text-secondary">
                      Which one should I choose, PTE or IELTS TOEFL? What are the differences, and how to convert scores?
                    </p>
  
                    <p class="text-secondary">
                      The scoring rules are more suitable for Chinese students and the score improvement is more efficient.
                    </p>

                    <p class="text-secondary">
                      Compared with IELTS and TOEFL, PTE has more test centers.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div style="background-color: rgb(250, 250, 250); padding-bottom: 5%;">
          <div class="container" style="margin-top: 4%;">
            <div class="row">
              <div class="col">
                <div style="margin-top: 2%;">
                  <span class="fw-bold fs-3"> Ape community </span>
                </div>
              </div>
            </div>
          </div>
  
          <div class="border container" style="margin-top: 2%; background-color: white;">
            <div class="container text-center" style="margin-top: 1%;">
              <div class="row">
                <div class="col border-end" style="background-color: white; padding-bottom: 1%;">
                  <img src="{{ url_for('static', filename='images/zoo_qrcodex.jpeg') }}" alt="file" width="500px" height="500px">
                </div>
    
                <div class="col" style="background-color: white;">
                  <div style="margin-top: 24%;">
                    <span class="fw-bold fs-5">
                      Daily check-in group
                    </span>
  
                    <p style="margin-top: 3%;" class="text-secondary">
                      One article a day RA
                    </p>

                    <p style="margin-top: 3%;" class="text-secondary">
                      Explain + read
                    </p>

                    <p style="margin-top: 3%;" class="text-secondary">
                      Check in in the WeChat group to get teacher comments
                    </p>

                    <button type="button" class="btn btn-outline-success">< Scan the code to join</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </main>
        <footer>
            <div>
              <div style="background-color: rgb(41, 41, 51);">
                <div class="container text-center">
                  <div class="row align-items-start">
                    <div class="line" style="margin-top: 10%; margin-bottom: 4%;"></div>
                    <div class="col text-secondary">
                      <span class="text-light fw-bold">About PTE</span>

                      <p style="margin-top: 4%;"><a href="">Exam introduction</a></p>

                      <p><a href="">accredited school</a></p>

                      <p><a href="">Understand the question types</a></p>

                      <p><a href="">introductory course</a></p>

                      <p><a href="">Compare IELTS TOEFL</a></p>
                    </div>

                    <div class="col text-secondary">
                      <span class="text-light fw-bold">PTE registration</span>

                      <p style="margin-top: 4%;"><a href="">PTE mock test website</a></p>

                      <p><a href="">Official application website</a></p>

                      <p><a href="">PTE exam venue location</a></p>

                      <p><a href="">Official contact information</a></p>

                      <p><a href="">Candidate Handbook</a></p>
                    </div>

                    <div class="col text-secondary">
                      <span class="text-light fw-bold">PTE courses</span>

                      <p style="margin-top: 4%;"><a href="">Ape world full class</a></p>

                      <p><a href="">One-to-one lessons</a></p>

                      <p><a href="">WHV special courses</a></p>
                    </div>

                    <div class="col text-secondary">
                      <span class="text-light fw-bold">APP download</span>

                      <p style="margin-top: 4%;"><a href="">IOS version</a></p>

                      <p><a href="">Android version</a></p>

                      <p><a href="">PC version</a></p>
                    </div>
                    
                    
                    
                    
                    <div class="col text-secondary">
                      <span class="text-light fw-bold">contact us</span>

                      <p style="margin-top: 4%;"><a href="">WeChat: Please scan the QR code to add</a></p>

                      <p><a href="">Tel: +86-028-83229656</a></p>

                      <p><a href="">Email: 2484601608@qq.com</a></p>
                    </div>

                    <div class="line" style="margin-top: 4%; margin-bottom: 8%;"></div>
                  </div>
                </div>
              </div>
            </div>
        </footer>
{% endblock %}