{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block link %}rel="shortcut icon" href="{{ url_for('static', filename='images/icon/document.png') }}" type="image/x-icon"{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block body %}
      <main>
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
               <!--image change new path -->
              <img src="{{ url_for('static', filename='images/cs.png') }}" class="d-block w-100" alt="Movie Image1" style="width: 800px; height: 460px;">
            </div>
            <div class="carousel-item">
               <!--image change new path -->
              <img src="{{ url_for('static', filename='images/web_vip_banner.jpg') }}" class="d-block w-100" alt="Movie Image2" style="width: 1200px; height: 460px;">
            </div>
            <div class="carousel-item">
               <!--image change new path -->
              <img src="{{ url_for('static', filename='images/IMG.png') }}" class="d-block w-100" alt="Movie Image3" style="width: 1200px; height: 460px;">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        </main>
        <footer>
            <!-- place footer here -->
        </footer>
{% endblock %}