{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block link %}rel="shortcut icon" href="{{ url_for('static', filename='images/icon/document.png') }}"
type="image/x-icon"{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Learning_Forum.css') }}">
{% endblock %}

{% block body %}
    <main style="background-color: rgba(250, 250, 250)">
        <div class="row" style="margin-top: 2%;">
            <div class="col"></div>
            <div class="col-8">
                {% for forum_datas in forum_data %}
                <ul class="question-ul">
                    <div style="margin-top: 4%;">
                        <li>
                            <div class="side-question">
                                <img class="side-question-avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQK16UmABGddL94OZXwjHSudU3WwTnbQNjQoQ&s" alt="头像">
                            </div>
                            <div class="question-main">
                                <div class="question-title"><a href="" class="fs-4">{{ forum_datas.title }}</a></div>
                                <div class="question-content">
                                    <p class="fw-bold">{{ forum_datas.content }}</p>
                                </div>
                                <div class="question-detail">
                                    <span class="question-author">{{ forum_datas.publisher_name }}</span>
                                    <span class="question-time">{{ forum_datas.publish_date.strftime('%Y-%m-%d') }}</span>
                                </div>
                            </div>
                        </li>
                    </div>
            </ul>
            {% endfor %}
            </div>
            <div class="col"></div>
        </div>
        </div>
    </main>
{% endblock %}