{% extends "base.html" %}

{% block title %}Manage_course{% endblock %}

{% block link %}rel="shortcut icon" href="{{ url_for('static', filename='images/icon/document.png') }}"
type="image/x-icon"{% endblock %}

{% block head %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/course.css') }}"> -->
{% endblock %}

{% block body %}
<main>
    <div class="container d-flex justify-content-end mt-5"
        style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
        <h1>Course Management</h1>
    </div>
    <!----Search and add movie---->
    <div class="container d-flex">
        <div class="input-group mb-3">
            <label for="allMovies"></label>
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for user (User Name, Email, Phone)"
                class="form-control border-secondary">
            <div>
                <button type="submit" class="btn btn-secondary"><i class="bi bi-search"></i></button>
                <button type="submit" class="btn btn-dark"><a href="#" class="text-decoration-none text-white"
                        style="font-size: 13px;" onclick="ClearFields();">Cancel</a></button>
                {% if session['permission_name'] in ['admin', 'service']%}
                <a href="{{ url_for('Manages_course.add_course') }}" role="button" style="font-size:13px;" class="btn btn-outline-dark mx-2">
                    <i class="bi bi-pencil-square"></i>Add Course
                </a>
                {% endif %}
            </div>

        </div>
    </div>

    <!-- table: all the movies -->
    <div class="d-flex justify-content-center container">
        <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
            <div class="table-responsive">
                <table class="table align-middle table-bordered" id="myTable">
                    <!-- tablr headers -->
                    <thead class="table-dark text-light">
                        <th>Course_ID</th>
                        <th>Course_title</th>
                        <th>Course_description</th>
                        <th>Course_image</th>
                        <th>Course_price</th>
                        <th>Course_duration</th>
                        <th>Course_rating</th>
                        <th>Course_publishdate</th>
                        <th>Publisher_name</th>
                        {% if session['permission_name'] in ['admin', 'service'] %}
                        <th>Edit</th>
                        <th>Delete</th>
                        {% endif %}
                    </thead>

                    <tbody>
                        {% for course_datas in course_data %}
                        <tr>
                            <td class="col-md-2" style="font-size: 13px;">{{ course_datas['course_id'] }}</td>
                            <td class="col-md-2" style="font-size: 13px;">{{ course_datas['course_title'] }}</td>
                            <td class="col-md-2" style="font-size: 13px;">{{ course_datas['course_description'] }}</td>
                            <td class="col-md-2" style="font-size: 13px;"><img src="{{ course_datas['course_image'] }}" alt="{{ course_datas['course_title'] }}" width="100px"></td>
                            <td class="col-md-2" style="font-size: 13px;">{{ course_datas['course_price'] }}</td>
                            <td class="col-md-2" style="font-size: 13px;">{{ course_datas['course_duration'] }}</td>
                            <td class="col-md-2" style="font-size: 13px;">{{ course_datas['course_rating'] }}</td>
                            <td class="col-md-2" style="font-size: 13px;">{{ course_datas['course_publish_date'] }}</td>
                            <td class="col-md-2" style="font-size: 13px;">{{ course_datas['publisher_name'] }}</td>
                            {% if session['permission_name'] in ['admin', 'service'] %}
                            <td><a type="submit" class="btn btn-danger mt-2" style="font-size: 10px;" role="button"
                                    href="/edit_course?course_id={{ course_datas['course_id'] }}"><i
                                        class="bi bi-pencil-square"></i> Edit</a></td>
                            <td>
                                <!---Delete--->
                                <button type="button" class="btn btn-warning mt-2" style="font-size: 10px;"
                                    data-bs-toggle="modal"
                                    data-bs-target="#exampleStaff{{ course_datas['course_id'] }}">Delete</button>
                                <div class="modal fade" id="exampleStaff{{ course_datas['course_id'] }}"
                                    tabindex="-1" aria-labelledby="exampleModalLabel{{ course_datas['course_id'] }}" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel{{ course_datas['course_id'] }}">Confirm Deletion
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure you want to delete course <span style="color: blue;">
                                                    course_id-{{ course_datas['course_id'] }}?</span>
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <a type="button" class="btn btn-warning"
                                                    href="/delete_course?course_id={{ course_datas['course_id'] }}"
                                                    id="exampleStaff{{ course_datas['course_id'] }}">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock  %}