{% extends "base.html" %}

{% block title %}Course{% endblock %}

{% block link %}rel="shortcut icon" href="{{ url_for('static', filename='images/icon/document.png') }}"
type="image/x-icon"{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/course.css') }}">
{% endblock %}

{% block body %}
<main>
    <div class="container d-flex justify-content-end mt-5"
        style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
        <h1>Forum Management</h1>
    </div>
    <!----Search and add movie---->
    <div class="container d-flex">
        <div class="input-group mb-3">
            <label for="allMovies"></label>
            <input type="text" id="myInput" onkeyup="myFunction()"
                placeholder="Search for user (Title, Content, Publisher_Name)" class="form-control border-secondary">
            <div>
                <button type="submit" class="btn btn-secondary"><i class="bi bi-search"></i></button>
                <button type="submit" class="btn btn-dark"><a href="#" class="text-decoration-none text-white"
                        style="font-size: 13px;" onclick="ClearFields();">Cancel</a></button>
            </div>

        </div>
    </div>

    <!-- table: all the movies -->
    <div class="d-flex justify-content-center container">
        <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
            <div class="table-responsive">
                <table class="table align-middle table-bordered" id="myTable">
                    <!-- tablr headers -->
                    <thead class="table-dark text-light">
                        <th>Question ID</th>
                        <th>Title</th>
                        <th>Content</th>
                        <th>Publisher Name</th>
                        <th>Publish Date</th>
                        <th>Delete</th>
                    </thead>

                    <tbody>
                        {% for user_forums in user_forum %}
                        <tr>
                            <td class="col-md-2" style="font-size: 13px;">{{ user_forums.question_id }}</td>
                            <td class="col-md-2" style="font-size: 13px;">{{ user_forums.title }}</td>
                            <td class="col-md-2" style="font-size: 13px;">{{ user_forums.content }}</td>
                            <td class="col-md-2" style="font-size: 13px;">{{ user_forums.publisher_name }}</td>
                            <td class="col-md-2" style="font-size: 13px;">{{ user_forums.publish_date.strftime('%Y-%m-%d') }}</td>
                            <td>
                                <!---Delete--->
                                <button type="button" class="btn btn-warning mt-2" style="font-size: 10px;"
                                    data-bs-toggle="modal"
                                    data-bs-target="#exampleStaff{{ user_forums.question_id }}">Delete</button>
                                <div class="modal fade" id="exampleStaff{{ user_forums.question_id }}" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Deletion
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure you want to delete forum <span style="color: blue;">
                                                    forumid-{{ user_forums.question_id }} {{ user_forums.title }}?</span>
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <a type="button" class="btn btn-warning"
                                                    href="/delete_forum?question_id={{ user_forums.question_id }}"
                                                    id="exampleStaff{{ user_forums.question_id }}">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}