{% extends "base.html" %}

{% block title %}Public_question{% endblock %}

{% block link %}rel="shortcut icon" href="{{ url_for('static', filename='images/icon/document.png') }}"
type="image/x-icon"{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    <main>
        <div class="row" style="margin-top: 5%;">
            <div class="col"></div>
            <div class="col-8 rounded-4" style="background-color: rgb(41, 41, 51);">
                <h1 style="text-align: center; color: white; margin-top: 2%;">Release Question</h1>
                <div style="margin-left: 2%; margin-right: 2%; margin-bottom: 2%;">
                    <form action="/publisher" method="post">
                        <div class="form-group">
                            <input type="text" name="title" class="form-control" placeholder="Please enter a title (5-100 words)">
                        </div>
                        <div class="form-group" style="margin-top: 2%;">
                            <textarea name="content" class="form-control" rows="10" placeholder="Please enter content"></textarea>
                        </div>
                        <div class="form-group" style="text-align: right; margin-top: 2%;">
                            <button class="btn btn-primary">Release</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </main>
{% endblock %}