<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap5.0.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/groups.css') }}">
  <title>Sign up</title>
</head>

<style>
  .container {
    display: flex;
    align-items: center;
    /* 在交叉轴上垂直居中 */
    justify-content: center;
    /* 在主轴上水平居中 */
  }
</style>

<body>
  <div class="modal modal-sheet position-static d-block bg-body-secondary p-3 py-md-0" tabindex="-1" role="dialog"
    id="modalSignin">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-5 shadow shadow-lg p-4 bg-body-tertiary rounded">
        <div class="modal-header p-4 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2 container">Sign up</h1>
        </div>

        <form method="POST" action="{{ url_for('register.register_data')}}">
          <div class="modal-body p-5 pt-0">
            <div class="form-floating mb-3">
              <input type="email" class="form-control rounded-3" id="email" placeholder="email" name="email">
              <label for="email">Email</label>
            </div>
            <div class="form-floating mb-3">
                <input type="username" class="form-control rounded-3" id="username" placeholder="username" name="username">
                <label for="username">Username</label>
              </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control rounded-3" id="password" placeholder="password"
                name="password">
              <label for="password">Password</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control rounded-3" id="password" placeholder="password"
                  name="confirm_password">
                <label for="confirm_password">Confirm Password</label>
              </div>
            <div class="form-floating mb-3">
                <input type="telephone_number" class="form-control rounded-3" id="telephone_number" placeholder="telephone_number"
                  name="telephone_number">
                <label for="telephone_number">Telephone Number</label>
              </div>
            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Sign up</button>
            <div style="margin-top: 1%;">
              <small class="text-body-secondary">
                <span>Already have an account?</span>
                <span><a href="{{ url_for('login.rendering_login') }}" class="fw-bold">Log in</a></span>

                <p style="margin-top: 1%;"><span>Can't find a home?</span><a href="{{ url_for('home.index') }}" class="fw-bold" style="margin-left: 1%;">return to home page</a></p>
              </small>
            </div>
            <hr class="my-4">
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap5.0.js') }}"></script>
</body>

</html>